.filler{
    flex: 1 1 auto;
}
/* .nav:hover{
    letter-spacing: 20px; 
    color: aqua;
    background-color: aqua;
     
} */
  mat-footer-row, mat-header-row, mat-row {
    border-bottom-width: 10px;
  }