  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Book store</span>
       <span [ngClass]="'filler'"></span>
       <button mat-raised-button (click)="onGrid()" color="accent">GridView</button>
       <button mat-raised-button (click)="onClick()" color="black" >ADDBOOK</button><br>
          <button mat-raised-button (click)="onLogout()" color="accent">LOGOUT</button>
          <span [ngStyle]="{'margin': '5px'}"></span>
    </mat-toolbar>
  </p>
  

  

<!--         
    <router-outlet></router-outlet> -->