<table mat-table [dataSource]="bookList" class="mat">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container> -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> <b>Id</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> <b>Title</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.title}} </td>
  </ng-container>

  <ng-container matColumnDef="subTitle">
    <th mat-header-cell *matHeaderCellDef> <b>subTitle</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.subTitle}} </td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> <b>author</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.author}} </td>
  </ng-container>

  <ng-container matColumnDef="originalPrice">
    <th mat-header-cell *matHeaderCellDef> <b>originalPrice</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.originalPrice}} </td>
  </ng-container>

  <ng-container matColumnDef="sellingPrice">
    <th mat-header-cell *matHeaderCellDef> <b>sellingPrice</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.sellingPrice}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> <b>category</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.category}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> <b>type</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.type}} </td>
  </ng-container>

  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef> <b>rating</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.rating}} </td>
  </ng-container>

  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef> <b>discount</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.discount}} </td>
  </ng-container>

  <ng-container matColumnDef="paperQuality">
    <th mat-header-cell *matHeaderCellDef> <b>paperQuality</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.paperQuality}} </td>
  </ng-container>

  <ng-container matColumnDef="bookSize">
    <th mat-header-cell *matHeaderCellDef> <b>bookSize </b></th>
    <td mat-cell *matCellDef="let book"> {{book.bookSize}} </td>
  </ng-container>

  <ng-container matColumnDef="language">
    <th mat-header-cell *matHeaderCellDef> <b>language</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.language}} </td>
  </ng-container>

  <ng-container matColumnDef="editor">
    <th mat-header-cell *matHeaderCellDef> <b>editor</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.editor}} </td>
  </ng-container>

  <ng-container matColumnDef="publisher">
    <th mat-header-cell *matHeaderCellDef> <b> publisher</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.publisher}} </td>
  </ng-container>

  <ng-container matColumnDef="edition">
    <th mat-header-cell *matHeaderCellDef> <b>edition</b></th>
    <td mat-cell *matCellDef="let book"> {{book.edition}} </td>
  </ng-container>

  <ng-container matColumnDef="publishDate">
    <th mat-header-cell *matHeaderCellDef> <b>publishDate </b></th>
    <td mat-cell *matCellDef="let book"> {{book.publishDate}} </td>
  </ng-container>

  <ng-container matColumnDef="manufactureDate">
    <th mat-header-cell *matHeaderCellDef> <b>manufactureDate</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.manufactureDate}} </td>
  </ng-container>

  <ng-container matColumnDef="manufacturePlace">
    <th mat-header-cell *matHeaderCellDef> <b>manufacturePlace</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.manufacturePlace}} </td>
  </ng-container>

  <ng-container matColumnDef="pages">
    <th mat-header-cell *matHeaderCellDef> <b>pages</b> </th>
    <td mat-cell *matCellDef="let book"> {{book.pages}} </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="bookColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: bookColumns;"></tr>

</table>
<b><mat-paginator [length]="10"
[pageSize]="5"
[pageSizeOptions]="[2, 3, 4, 5]"
aria-label="Select page">
</mat-paginator></b>




